body {
    padding-top: 50px;
    padding-bottom: 20px;
    background: #ee0979; /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #ee0979 , #ff6a00); /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #ee0979 , #ff6a00); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color:white;    
   
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

#stage {
    background-image: url('../assets/pexels-photo-105234.jpeg');
    /*height:100% this uses the id namesd stage inside of body element inside of the index page*/
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    /*background-color: #999;*/
    background-color: #ffffff;
    color: #808080;
}
.navbar-inverse {
    background-color:rgba(1, 1, 1, 0.59);
    
    border-color: #080808;
}
.navbar-inverse .navbar-brand {
    color: #ffffff;
}
.navbar-brand {
    float: left;
    padding: 15px 15px;
    font-size: 30px;
    line-height: 20px;
    font-family: 'Raleway', sans-serif;

}
.navbar-inverse .navbar-nav > li > a {
    color: #ffffff;
    font-size: 20px;
    font-family: 'Raleway', sans-serif;

    /*font-family: 'Lato', sans-serif;*/
}
#stage-caption{
    font-size:17px;
    font-weight:200;
   padding-top:70px;
    
    max-width:60rem;
    /*line-height: 73px;*/
    margin:0 auto;
    text-align:center;
}
#stage-caption h1{
           /*color: rgb(187, 255, 230);*/
    color:#9ffa8e;
    font-weight:bold;
     font-size: 64px;
    /*line-height: 73px;*/
    text-shadow: none;

}
.btn-lg {
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.33;
    border-radius: 40px;
}

.btn-success {
    color: #ffffff;
    /*background-color:#ff3364;*/
    background-color: #2bb77a;
    border-color:#2bb77a;
}
.jumbotron {
    padding: 30px;
    margin-bottom: 30px;
    font-size: 17px;
    font-weight: 200;
    line-height: 2.1428571435;
    color: white;
    background-color: rgba(23, 9, 9, 0.58);
}
#apply{
    background-color:white;
    color:black;

}