@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "Home Page";
}


@section scripts{
   
<script type='text/javascript' src='http://www.bing.com/api/maps/mapcontrol'></script>

    <script src="~/Scripts/SignalR.js"> </script>
    }
<h2>Chat</h2>
<div class="form-group">
    <label for="room">Room:</label><input class="form-control input-md" type="text" id="room" />
    <input class="btn btn-primary" type="button" id="join" value="Join" />
    <br />
    <label for="message">Message:</label><input class="form-control input-lg" type="text" id="message" />

    <div>

        <input class="btn btn-primary"  type="button" id="send" value="Send message" />
        <input class="btn btn-primary"  type="button" id="sendprivate" value="Send message to room" />
    </div>
    </div>
    <div class="jumbotron" style="font-size:15px;">

        @*@{
                var imgUrl = Url.Content("~/Content/images/profile/" + User.Identity.GetUserName() + ".png") + "?time=" + DateTime.Now.ToString();
            }
            @*<img src="@imgUrl" height="50" width="50" />*@

       

      
        <ul id="messages"></ul>

    </div>




    @*<div>
        <h2>SignalR monitoR</h2>
        <ul id="messages"></ul>
    </div>*@

    @*map//////*@

    
